<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View All Students</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
<h1>All Students</h1>

<!--/*@thymesVar id="students" type="java.util.List<com.example.model.StudentModel>"*/-->
<!--/*@thymesVar id="student" type="com.example.model.StudentModel"*/-->
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>NPM</th>
        <th>Name</th>
        <th>GPA</th>
    </tr>
    </thead>
    <th:block th:each="student,iterationStatus: ${students}">
        <tr>
            <td th:text="${iterationStatus.count}">No</td>
            <td th:text="${student.npm}">NPM</td>
            <td th:text="${student.name}">Name</td>
            <td>
                <span th:text="${student.gpa}">GPA</span>
                <span th:if="${student.gpa &lt; 2}" class="warn">Mahasiswa dalam probation</span>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>
